# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
TextReversi/x64/Debug/TextReversi.pdb
TextReversi/x64/Debug/TextReversi.ilk
TextReversi/TextReversi/TextReversi.vcxproj.user
TextReversi/TextReversi/TextReversi.vcxproj.filters
TextReversi/TextReversi/x64/Debug/vc141.pdb
TextReversi/TextReversi/x64/Debug/vc141.idb
TextReversi/TextReversi/x64/Debug/TextReversi.tlog/link.write.1.tlog
TextReversi/TextReversi/x64/Debug/TextReversi.tlog/link.read.1.tlog
TextReversi/TextReversi/x64/Debug/TextReversi.tlog/link.command.1.tlog
TextReversi/TextReversi/x64/Debug/TextReversi.tlog/TextReversi.lastbuildstate
TextReversi/TextReversi/x64/Debug/TextReversi.tlog/CL.write.1.tlog
TextReversi/TextReversi/x64/Debug/TextReversi.tlog/CL.read.1.tlog
TextReversi/TextReversi/x64/Debug/TextReversi.tlog/CL.command.1.tlog
TextReversi/TextReversi/x64/Debug/TextReversi.log
TextReversi/TextReversi/x64/Debug/TextReversi.Build.CppClean.log
*.suo
*.ipch
*.tlog
*.log
*.idb
*.pdb
*.db
*.user
*.filters
*.ilk
*.opendb
*.exp
Pong/bin/Pong/Win32/Debug/
*.db-shm
*.db-wal
